body {
    font-family: 'Impact', sans-serif;
    text-align: center;
    /* margin: 50px; */
    background-color: rgb(75, 174, 216);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(75, 174, 216);
    color: rgb(19, 78, 60);
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: rgb(75, 174, 216);
    color: rgb(19, 78, 60);
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h2 {
    margin-bottom: 20px; /* Add margin to the bottom of the h2 element */
}
/* #output-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} */